@model Mbrrace.Models.Person

@{
    ViewData["Title"] = "Delete person";
}

<h1>Delete person</h1>

<h3>Are you sure you want to delete @Model.GivenName?</h3>
<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GivenName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GivenName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Town)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Town)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Postcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />&nbsp;
        <a asp-action="Index" class="btn btn-info">Go to List</a>
    </form>
</div>
